pytelegrambotapi
pytesseract
gtts
telebot
BeautifulSoup
bs4
facebook-scraper
get_video_url
FacebookScraper
googletrans
Translator
wikipediaapi
wikipedia-api
googletrans==4.0.0-rc1
requests
yt_dlp
os
pytube
youtube-dl
youtube_dl
yt-dlp
threading
time
datetime
InlineKeyboardMarkup
InlineKeyboardButton
random
SpeechRecognition
pydub
easyocr
PIL
Image
io
BytesIO