pytelegrambotapi
gtts
telebot
yt_dlp
os
pytube
youtube-dl
youtube_dl
yt-dlp
threading
time
datetime
InlineKeyboardMarkup
InlineKeyboardButton
random
SpeechRecognition
pydub
SpeechRecognition pydub